body{
    font-family: "Georgia", serif;
    background-color: #0e2a2a;
    color: #f1e2b3;
    border: solid 5px rgb(39, 106, 38);
    border-radius: 60px;
    min-width:min-content;
    flex-shrink: 0;
    margin:auto; /*mmight have to change this back soon to 200px*/
    /*background: linear-gradient(to right, rgb(19, 51, 19), rgb(24, 255, 62));*/
    padding: 20px 0px;
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width:min-content;
    justify-items:center;
    justify-content: center;
    min-height: 100vh;
    position: absolute 10px;
    margin:auto;
}
.wholecontainer{
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    max-width: 500px;
    width: 100%;
    padding: 40px;
}
#divider1{
    height: .1px;
    background-color: white; 
    margin: 10px 0;
    border: none;
    width: 100%;
}
#divider2{
    height: .1px;
    background-color: var(--border-clr);
    margin:10px 0;
    border: none;
    width: 100%;
}
/*
#hear1{
    /*
    border-radius: 10px;
    color: var(--text-color, #136d33);/*text color*/
   /* display:flex;
    border: solid 2px black;
    margin-left: 30%;
    align-items:center;
    justify-content:flex-start;
    vertical-align:center;
    padding: 0px;
    text-align:center;
    height: 200px;
    width: 50%;

    font-size: x-large;*/

.title{
    display:flex;
    justify-content: center;
    flex-direction: row;
    justify-items:center;
    align-items: end;
    margin: 0;
    overflow-wrap:break-word;
    flex-shrink: 0;
    font-size: medium;
    border-radius: 40px;
    /*border: solid 2px black;*/
    /*border-style: hidden;*/
    max-width:100%;
    max-height:100%;
    padding: 10px 0px;
    /*width: 180px;
    height: 100px;*/
    background-color: #0b2222;
    /*margin-left: 30%;
    margin-bottom: -18%;*/
}
/*#header2{

}
#words{

}*/
/*DeepBuildValidator Logo*/
#DeepIcon{
    margin-right: 10px;
    width: 140px;
    clip-path: circle(28.9%);
    /*margin: 0px;
    flex-shrink: 0;*/
    
    /*clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%); This makes a polygram type shape */
    /*border-radius: 250px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;*/
}
.category-buttons{
    display:flex;
    justify-content:center;
    flex-wrap: nowrap;
    padding: auto;
    gap: 9px;
}

.social-icons{
    display: flex;
    margin-top: 50%;
    gap: 5px;
    border-radius: 10px;
}
/*This is for category buttons reforming*/
:root{
    --border-clr: #00ee99;
    --background-clr:
}
/*#category-content{

}*/
#stats{
    border-radius: 10px;
    border-width: 3px;
    border-color:var(--border-clr);
}
/*⬇️Button contents⬇️*/
#stats-category-content{
    padding: 10px 20px;
    border-radius: 40px;
    height:500px;
    background: #163c2f;
    cursor: pointer;
    border: 1px solid white;
    display: none  
    animation: fadeIn 0.5s;
}
#stats-content{
    border: solid 1px;
    border-radius: 40px;
    max-width: max-content;
}
#stats-content2{
    border: solid 1px;
    max-width:max-content;
    border-radius: 40px;
}
#talents-content{
    padding: 10px 20px;
    border-radius: 40px;
    height:500px;
    background: #163c2f;
    cursor: pointer;
    border: 1px solid white;
    display: none;
    animation: fadeIn 0.5s;
}
#weapons-content{
    padding: 10px 20px;
    border-radius: 40px;
    height:500px;
    background: #163c2f;
    cursor: pointer;
    border: 1px solid white;
    display: none;  
    animation: fadeIn 0.5s;
}
#Equipment-content{
    padding: 10px 20px;
    border-radius: 40px;
    height:500px;
    background: #163c2f;
    cursor: pointer;
    border: 1px solid white;
    display: none;  
    animation: fadeIn 0.5s;
}
#mantra-content{
    padding: 10px 20px;
    border-radius: 40px;
    height:500px;
    background: #163c2f;
    cursor: pointer;
    border: 1px solid white;
    display: none;  
    animation: fadeIn 0.5s;
}
/*⬆️Button contents⬆️*/
#stats.active{
    background: #51f55a;
    
}
#stats-content.active{
    display: block;   
}
@keyframes fadeIn{
    from{
        opacity: 1;
        display:contents;
    }
}
@keyframes fadeOut{
    from{
        opacity: 0;
    }
}

#talents{
    border-radius:10px;
    border-width: 3px;
    border-color:var(--border-clr);
}
#weapons{
    border-radius:10px;
    border-width: 3px;
    border-color:var(--border-clr);
}
#Equipment{
    border-radius: 10px;
    border-width: 3px;
    border-color:var(--border-clr);
}
#Mantras{
    border-radius: 10px;
    border-width: 3px;
    border-color:var(--border-clr);
}
/*This is getting rid of borders*/

#github{
    border-radius: 100px;
    flex-shrink: 100;
    border: none;
    background-color:var(--border-clr)
}
#instagram{
    border: none;
    background-color:var(--border-clr);
}
#youtube{
    border:none;
    background-color:var(--border-clr);
}
/*Border removal section ⬆️*/