body{
    font-family: "Georgia", serif;
    background-color: #0e2a2a;
    color: #f1e2b3;
    border: solid 5px rgb(39, 106, 38);
    border-radius: 60px;
    min-width:min-content;
    flex-shrink: 1;
    margin:auto; /*mmight have to change this back soon to 200px*/
    /*background: linear-gradient(to right, rgb(19, 51, 19), rgb(24, 255, 62));*/
    padding: 20px 0px;
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width:min-content;
    justify-items:center;
    justify-content: center;
    min-height: 100vh;
    position: absolute 10px;
    margin:auto;
}
.wholecontainer{
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    max-width: 500px;
    width: 100%;
    max-height: 900vh;
    padding: 40px;
}
#divider1{
    height: .1px;
    background-color: white; 
    margin: 10px 0;
    border: none;
    width: 100%;
}
#divider2{
    height: .1px;
    background-color: var(--border-clr);
    margin:10px 0;
    border: none;
    width: 100%;
}
/*
#hear1{
    /*
    border-radius: 10px;
    color: var(--text-color, #136d33);/*text color*/
   /* display:flex;
    border: solid 2px black;
    margin-left: 30%;
    align-items:center;
    justify-content:flex-start;
    vertical-align:center;
    padding: 0px;
    text-align:center;
    height: 200px;
    width: 50%;

    font-size: x-large;*/

.title{
    display:flex;
    justify-content: center;
    flex-direction: row;
    justify-items:center;
    align-items: end;
    margin: 0;
    overflow-wrap:break-word;
    flex-shrink: 0;
    font-size: medium;
    border-radius: 40px;
    /*border: solid 2px black;*/
    /*border-style: hidden;*/
    max-width:100%;
    max-height:100%;
    padding: 10px 0px;
    /*width: 180px;
    height: 100px;*/
    background-color: #0b2222;
    /*margin-left: 30%;
    margin-bottom: -18%;*/
}
/*#header2{

}
#words{

}*/
/*DeepBuildValidator Logo*/
#DeepIcon{
    margin-right: 10px;
    width: 140px;
    clip-path: circle(28.9%);
    /*margin: 0px;
    flex-shrink: 0;*/
    
    /*clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%); This makes a polygram type shape */
    /*border-radius: 250px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;*/
}
.category-buttons{
    display:flex;
    flex-wrap: nowrap;
    flex-shrink: 1;

    padding: auto;
    gap: 8px;

}


.social-icons{
    border:solid 1px white;
    max-width: fit-content;
    display: flex;
    margin-top:90px;
    gap: 2px;
    border-radius: 10px;
}
/*This is for category buttons reforming*/
:root{
    --border-clr: #00ee99;
    --background-clr:#0e2a2a;
    --text-clr: #f1e2b3;
    --text-clr2: white;

}
/*#category-content{

}*/

.shrine{
    /*width:fit-content;
    height: fit-content;*/
    display:flex;
    justify-self: flex-start;
    border: none;
    border: none;
    grid-area: 2/1/2/4;
    /*grid-column-start:1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;*/
}
#shrine-btn{
    width:200px;
    color:#f1e2b3;
    border: none;
    border-radius: 10rem;
    cursor: pointer;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    background-color:var(--background-clr);
    font-family: "Georgia", serif;
    /*grid-column-start:3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 1;*/
}
#shrineimg{
    display:flex;
    justify-self: flex-end;
}
/*⬇️Button contents⬇️*/
.stats-category-content{
    padding: 20px 35px;
    border-radius: .9rem;
    width: 430px;
    height: 300px;
    background: #163c2f;
    cursor: pointer;
    border: 1px solid white;
    display:grid;
    grid-template-columns: 25vh 30vh; 
    /*grid-template-columns: repeat(2, 138px);
    /*grid-template-columns:148px 20px 10px minmax(148px,auto);
    grid-template-rows: 190px 55px 100px;*/
    /*animation fadeIn 0.5s;*/
    display: none;
}
#core-stats{
    border: none;
    max-width: fit-content;
    max-height: fit-content;
}
#stats-content2{
    /*border: solid 0.1mm #ffffff;*/
    /*background-color: #0e2a2a;*/
    width:10rem;
    height:5rem;
    border-radius: 1rem;
    padding: 11%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:start;
    flex-wrap: wrap;
    flex-shrink: 1;
    grid-row-start:2;
    grid-row-end: 4;
    grid-column-start:2;
    grid-column-end: 3;
    margin-left: 3rem;
    /*margin-left:36vh;*/ 
}
#Talents-content{
    border: solid white 1px;
    padding: 1rem;
    align-self: center; /* this aligns the box itself to center*/
    width: 30rem;
    height: 10rem;
    

}

.Wep-stats{
    border: none;
    height:fit-content;
    width: fit-content;
    display:flex;
    flex-direction: column;
    /*margin-right: 20%;*/
}
.maybe-weps{
    display:grid;
    width:15rem;
    grid-template-columns: 1vh 1fr 14vh;
    grid-row-gap: 1rem;
}
/*stats-input-forms⬇️*/
#heavy-input{
    border-radius: .4em;
    padding: .1em;
    margin-left: 9.5em;
    height: 20px;
    background-color:var(--background-clr);
    color:(var(--text-clr2))

}
#medium-input{
    border-radius: 4px;
    margin-left: 9.5em;
    height: 20px;
    background-color:var(--background-clr);
    color:var(--text-clr2);
}
#light-input{
    border-radius: 4px;
    margin-left: 9.5em;
    height: 20px;
    background-color:var(--background-clr);
    color:var(--text-clr2);
}
#str-input{
    border-radius: 100px;
    margin-left:26px;
    background-color:var(--background-clr);
    color:var(--text-clr2);
}
#fort-input{
    border-radius: 100px;
    margin-left:22px;
    margin-top: 10px;
    background-color:var(--background-clr);
    color:var(--text-clr2);
}
#agi-input{
    border-radius: 100px;
    margin-left:42px;
    margin-top: 10px;
    background-color:var(--background-clr);
    color:var(--text-clr2);
}
#intel-input{
    border-radius: 100px;
    margin-left:5px;
    margin-top: 10px;
    background-color:var(--background-clr);
    color:var(--text-clr2);
}
#will-input{
    border-radius: 100px;
    margin-top: 10px;
    margin-left: 15px;
    background-color:var(--background-clr);
    color:var(--text-clr2);
}
#charm-input{
    border-radius: 100px;
    margin-top: 10px;
    margin-left: 20px;
    background-color:var(--background-clr);
    color:var(--text-clr2);
}
#song-input{
    border-radius: 100px;
    margin-left: 20px;
    margin-bottom:10px;
    background-color:var(--background-clr);
    color:var(--text-clr2);
}
#prof-input{
    border-radius: 100px;
    margin-left: 16px;
    margin-bottom:10px;
    background-color:var(--background-clr);
    color:var(--text-clr2);
}
#vital-input{
    border-radius: 100px;
    margin-left: 43px;
    margin-bottom: 10px;
    background-color:var(--background-clr);
    color:var(--text-clr2);
}
#erud-input{
    border-radius: 100px;
    margin-left: 26px;
    margin-bottom: 10px;
    background-color:var(--background-clr);
    color:var(--text-clr2);
}
/*stats-content-input-forms ⬆️*/
#talents-content{
    padding: 10px 20px;
    border-radius: 40px;
    height:500px;
    background: #163c2f;
    cursor: pointer;
    border: 1px solid white;
    display: none;
    animation: fadeIn 0.5s;
}
#weapons-content{
    padding: 10px 20px;
    border-radius: 40px;
    height:500px;
    background: #163c2f;
    cursor: pointer;
    border: 1px solid white;
    display: none;  
    animation: fadeIn 0.5s;
}
#Equipment-content{
    padding: 10px 20px;
    border-radius: 40px;
    height:500px;
    background: #163c2f;
    cursor: pointer;
    border: 1px solid white;
    display: none;  
    animation: fadeIn 0.5s;
}
#mantra-content{
    padding: 10px 20px;
    border-radius: 40px;
    height:500px;
    background: #163c2f;
    cursor: pointer;
    border: 1px solid white;
    display: none;  
    animation: fadeIn 0.5s;
}
/*⬆️Button contents⬆️*/
#stats.active{
    background: #51f55a;
    
}
#stats-content.active{
    display: block;   
}
@keyframes fadeIn{
    from{
        opacity: 1;
        display:contents;
    }
}
@keyframes fadeOut{
    from{
        opacity: 0;
    }
}
#stats-btn-c{
    border-radius: 10px;
    border-width: 3px;
    border-color:var(--border-clr);
    color:green;
}
#talents-btn-c{
    border-radius:10px;
    border-width: 3px;
    border-color:var(--border-clr);
}
#weapons-btn-c{
    border-radius:10px;
    border-width: 3px;
    border-color:var(--border-clr);
}
#Equipment-btn-c{
    border-radius: 10px;
    border-width: 3px;
    border-color:var(--border-clr);
}
#Mantras-btn-c{
    border-radius: 10px;
    border-width: 3px;
    border-color:var(--border-clr);
}
#Overview-btn-c{
    border-radius: 10px;
    border-width: 3px;
    border-color:var(--border-clr)
}
/*This is getting rid of borders*/

#github{
    border-top-left-radius: 100px;
    border: none;
    background-color: transparent;
}
#instagram{
    border: none;
    background-color:transparent;
    border-radius: 40px;
}
#youtube{
    border:none;
    background-color:transparent;
    border-radius: 15px;
}
/*Border removal section ⬆️*/
#over{
    display:flex;
    justify-self: center;
}